.container_page {
    display: flex;
    align-items: center;
    /* height: 73vh; */
    padding: 70px;
    justify-content: space-between;
    position: relative;
}

.slide {
    display: flex;
    align-items: center;
    /* height: 73vh; */
    padding: 70px;
    justify-content: space-between;
    position: relative;
}

.container_texts {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.welcome_text {
    font-size: 48px;
    color: yellow;
}

.wishes_text {
    margin-top: 10px;
    font-size: 32px;
}

.pleasant_text {
    margin-top: 10px;
    font-size: 32px;
}

.yoda {
    z-index: 1;
}

.robot {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    animation-name: go;
    animation: go 5s infinite alternate;
}

.navigation_buttons {
    background-color: black;
    border: none;  
}

.fa-chevron-circle-left, .fa-chevron-circle-right {
    cursor: pointer;
    font-size: 48px;
    background-color: black;
    color: #fff;
}

@keyframes go {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50%);
    }
}

@media screen and (max-width: 1350px){
    @keyframes go {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(25%);
        }
    }   
}

@media screen and (max-width: 1250px){
    .robot {
        display: none;
    }
    .welcome_text {
        font-size: 42px;
    }

    .wishes_text, .pleasant_text {
        font-size: 26px;
    }
    .yoda {
        width: 99%;
        height: 99%;
    }
}

@media screen and (max-width: 960px){
    .slide {
        flex-direction: column;
    }

    .welcome_text {
        font-size: 38px;
    }

    .wishes_text, .pleasant_text {
        font-size: 22px;
    }

    .yoda {
        margin-top: 40px;
        width: 90%;
        height: 90%;
    }
    
    .container_page {
        padding: 30px;
    }
}

@media screen and (max-width: 600px) {
    .yoda {
        width: 100%;
        height: 100%;
    }
    .fa-chevron-circle-left, .fa-chevron-circle-right {
        font-size: 36px;
    }
    
    .welcome_text {
        font-size: 28px;
    }

    .wishes_text, .pleasant_text {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .container_page {
        padding: 10px;
    }
    .slide {
        padding: 0px;
    }

    .fa-chevron-circle-left, .fa-chevron-circle-right {
        font-size: 28px;
    }

    .welcome_text {
        font-size: 24px;
    }

    .wishes_text, .pleasant_text {
        font-size: 14px;
    }
}