header {
    display: flex;
    align-items: center;
    padding: 30px 50px;
    justify-content: space-between;
    height: 17vh;
}

.header_logo {
    width: 220px;
    height: 120px;
    cursor: pointer;
}

.input_elements {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search_input {
    width: 50%;
    height: 40px;
    outline: none;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 30px 0 0 30px;
}

.button_search {
    cursor: pointer;
    font-size: 35px;
    height: 40px;
    border: none;
    right: 250px;
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.search {
    margin-right: 10px;
    height: 32px;
}

.nav_list {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: #fff;
}

.burger {
    cursor: pointer;
    font-size: 36px;
    display: none;
    color: #fff;
}

.lightsaber {
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
}

.link {
    text-decoration: none;
}

.nav_list > .link > li {
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}

.nav_list > .link > li::after {
    position: absolute;
    top: 20px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    background-color: yellow;
    transition: .3s all ease-in;
}

.nav_list > .link > li:hover::after {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .nav_list {
        display: none;
    }
    .header_input {
        max-width: 250px;
    }
    .burger {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .search_input {
        min-width: 200px;
    }
    .header_logo {
        width: 180px;
        height: 80px;
    }
}

@media screen and (max-width: 600px) {
    .search_input {
        min-width: 150px;
    }
    .input_elements {
        justify-content: flex-start;
    }
    .header_logo {
        display: none;
    }
}

@media screen and (max-width: 480px){
    header {
        padding: 30px 20px;
    }
}