 .people_page {
    min-height: 75vh;
}

.people {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    min-height: 100%;
    margin-top: 50px;
}

.people_block {
    margin: 20px;
    border: 3px solid #fff;
    padding: 15px;
    color: #fff;
    width: 16%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    justify-content: space-between;
}

.input_elements {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search_input {
    width: 50%;
    height: 40px;
    outline: none;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 30px 0 0 30px;
}

.button_search {
    cursor: pointer;
    font-size: 35px;
    height: 40px;
    border: none;
    right: 250px;
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.search {
    margin-right: 10px;
    height: 32px;
}

.people_block:hover > .people_image {
    transform: scale(1.05);
}

.people_image {
    width: 100%;
    transition: .3s all ease;
}

.input_people {
    background-color: #fff;
}

.text_block_people {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #000;
}

.people_name {
    margin-top: 15px;
    font-size: 32px;
    width: 100%;
}

.more_info_button:hover {
    background-color: snow;
}

.more_info {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-align: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 30px;
    width: 180px;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: .8s all ease; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.navigation_buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    background-color: #000;
    border: none;
    margin: 20px;
}

.fa-arrow-left, .fa-arrow-right {
    color: #fff;
    font-size: 36px;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .people_block {
        width: 28%;
    }
}

@media screen and (max-width: 900px) {
    .more_info_button {
        width: 120px;
    }
    .more_info {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .people_block {
        width: 55%;
    }
}